/* body {
    background-color: rgb(2, 17, 131);
    font-family: Arial, sans-serif;
    color: #fbfbfb;
    margin: 20px;
    text-align: center;
} */

.nene-ig {
    color: #ff69b4;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}